<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Log In</title>
</head>

<body>
    <main class="auth-page">
        <div class="auth-container login-container">
            <div class="title-group">
                <h1>Welcome back</h1>
                <p>Sign in to your account</p>
            </div>

            <form method="post" action="/login" class="auth-form">

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required aria-required="true" class="input">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required aria-required="true" minlength="8"
                        class="input">
                </div>

                <button type="submit" class="btn submit-btn">Log In</button>
            </form>

            <p><span class="text-accent">Don't have an account?</span> <a href="/register">Sign up</a></p>
        </div>
    </main>

</body>

</html>