<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Log In</title>
</head>

<body>
    <main>
        <div class="login-container">
            <div class="title-group">
                <h1>Get Started</h1>
                <p>Create a new account</p>
            </div>

            <form method="post" action="/login">

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required aria-required="true">
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required aria-required="true" minlength="8">
                </div>

                <button type="submit">Log In</button>
            </form>

            <p><span class="text-accent">Don't have an account?</span> <a href="/register">Sign In</a></p>
        </div>
    </main>

</body>

</html>