@use "../base/variables" as *;

.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
}

.auth-page a {
  color: var(--color-text-primary);
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

.auth-page a:hover {
  color: var(--color-text-hover);
  text-decoration: none;
}

.auth-container {
  width: 400px;
  padding: 1.7rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-container p {
  font-size: 1rem;
}

.auth-container > p {
  text-align: center;
  font-size: 0.9rem;
}

.auth-container h1 {
  font-size: 1.75rem;
}

.auth-container .text-accent {
  color: var(--color-icon);
}

.auth-form {
  padding: 1.3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  gap: 1.25rem;
}

.auth-form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-group label {
  font-weight: 600;
  font-size: 0.9rem;
}

.submit-btn:hover {
  background-color: var(--color-button-bg-hover);
  color: var(--color-button-text-hover);
}
