@use "../base/variables" as *;

.app-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1.75rem 2.5rem;
  height: var(--header-height);

  span {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--font-ui);
    font-weight: 500;
    color: var(--color-text-primary);
  }

  svg {
    width: 20px;
  }
}

.app-header a {
  color: var(--color-text-primary);
  text-decoration: none;
  transition: text-decoration 0.1s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

.user-nav {
  padding: 0 1rem;

  .logout-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.dashboard-page {
  display: flex;
  flex-direction: column;
  padding: 2.75rem 2.5rem;
  height: calc(100vh - var(--header-height));
}

.toolbar {
  display: flex;
  padding: 0.5rem;
}

.toolbar a {
  display: inline-block;
  text-decoration: none;
}

.toolbar > *:not(:last-child) {
  margin-right: 1.25rem;
}

.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 1rem;
}

.table-wrapper {
  flex: 1;
  overflow-y: auto;
}

.data-table {
  width: 100%;
  font-size: 0.9rem;
  border-collapse: collapse;
  margin: 0 auto;
  border-spacing: 0;
  min-width: 600px;
  border: 1px solid var(--color-table-border);
  background-color: var(--color-bg);
  table-layout: fixed;
}

.data-table a {
  color: var(--color-text-primary);
  text-decoration: none;
  transition: text-decoration 0.1s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}

.data-table svg {
  color: var(--color-table-icon);
}

.data-table th {
  font-weight: 500;
}

.data-table th,
.data-table td {
  padding: 0.5rem 1.25rem;
  text-align: left;
  border-bottom: 1px solid var(--color-table-border);
  border-right: 1px solid var(--color-table-border);
}

.data-table th:last-child,
.data-table td:last-child {
  border-right: none;
}

.data-table tr:last-child td {
  border-bottom: none;
}

.data-table th {
  background-color: var(--color-table-heading);
  position: sticky;
  top: 0;
  z-index: 1;
}

.data-table tr {
  background-color: var(--color-bg);
  transition: background-color 0.2s ease-in-out;
}

.item-name-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--color-surface);
  min-width: 150px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  z-index: 100;
  overflow: hidden;
  padding: 0.25rem 0;
}

.dropdown-content a,
.dropdown-content button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 0.5rem 0.75rem;
  background: none;
  border: none;
  color: var(--color-text-primary);
  cursor: pointer;
  font-size: 0.9rem;
}

.dropdown-content a {
  text-decoration: none;
}

.dropdown-content svg {
  width: 20px;
}

.dropdown-content a:hover,
.dropdown-content button:hover {
  background-color: var(--color-text-primary);
  color: var(--color-bg);
  text-decoration: none;
}
