@use "../base/variables" as *;

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

a {
  color: var(--color-text-primary);
  font-weight: 600;
}

.login-container {
  width: 400px;
  padding: 1.7rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.login-container p {
  font-size: 1rem;
}

.login-container > p {
  text-align: center;
  font-size: 0.9rem;
}

.login-container h1 {
  font-size: 1.75rem;
}

.login-container .text-accent {
  color: var(--color-icon);
}

form {
  padding: 1.3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  gap: 1.25rem;
}

form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

form button {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1.25rem;
  background-color: var(--color-input-bg);
  border: solid 1px var(--color-input-border);
  border-radius: 5px;
  padding: 0.3rem 0;
}

.form-group input {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  background-color: var(--color-input-bg);
  border: solid 1px var(--color-input-border);
  border-radius: 5px;
  color: var(--color-input-text);
}

.form-group label {
  font-weight: 600;
}
