:root {
  // Fonts
  --font-ui: "Hanken Grotesk", sans-serif;
  --font-body: "DM Sans", sans-serif;

  --header-height: 80px;

  // Base colors
  --color-bg: #171717;
  --color-surface: #1d1d1d;

  --color-text-primary: #fafafa;
  --color-text-accent: #a6a6a6;
  --color-text-hover: #137547;

  --color-input-bg: #1d1d1d;
  --color-input-border: #4d4d4d;
  --color-input-text: #fafafa;
  --color-input-placeholder: #9ca3af;
  --color-input-focus: #676a707c;

  --color-button-bg: #137547;
  --color-button-text: #fafafa;
  --color-button-border: #5bba6f;
  --color-button-bg-hover: #5bba6f;
  --color-button-text-hover: #054a29;

  --color-table-heading: #1d1d1d;
  --color-table-icon: #9fa6a8;
  --color-table-border: #4d4d4d;
}
